Importamos las librerias

In [1]:
import pandas as pd
import numpy as np

Exportamos los dataframes (con correcciones echas en excel)

In [3]:
df = pd.read_excel("departamentos pais  extras corregidos.xlsx")

In [4]:
df

,Unnamed: 0,Direccion,Ubicacion,Moneda,Precio,Expensas,Metros Cuadrados,Dormitorios,Antigüedad,Baños
0,1,\n Palpa 2500\n,"Departamento en Venta en Belgrano C, Belgrano",USD,\n 145.000,11000.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,NaN,\n</li>\n\nbaños\n<span>\n ...
1,2,\n Virrey Olaguer y Feliu 3100\n ...,"Departamento en Venta en Belgrano R, Belgrano",USD,\n 107.000,11000.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...
2,3,\n Olleros 1800\n,"Departamento en Venta en Belgrano, Capital Fe...",USD,\n 389.000,14000.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,NaN,\n</li>\n\nbaños\n<span>\n ...
3,4,"\n Franklin D Roosevelt 1600, Piso...","Departamento en Venta en Belgrano Barrancas, ...",USD,\n 68.000,8800.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...
4,5,"\n Av. Cnel.diaz 1400, Piso 7\n ...","Departamento en Venta en Palermo, Capital Fed...",USD,\n 239.000,18000.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...
...,...,...,...,...,...,...,...,...,...,...
18995,18996,\n PASEO 116 E/ AV 1 Y COSTANERA\n...,"Departamento en Venta en Villa Gesell, Buenos...",USD,\n 48.000,NaN,NaN,\n\nDormitorios\n<span>\n ...,NaN,\n</li>\n\nbaños\n<span>\n ...
18996,18997,\n Plaza San Martin\n,"Departamento en Venta en Barrio Norte, Capita...",USD,\n 300.000,NaN,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...
18997,18998,\n Av La Plata 3400\n,"Departamento en Venta en Santos Lugares, Tres...",USD,\n 120.000,NaN,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...
18998,18999,"\n Montevideo 1900, Piso 11\n","Departamento en Venta en Centro, Capital Federal",USD,\n 118.000,NaN,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...
18999,19000,\n Diagonal 26 900\n,"Departamento en Venta en Santa Teresita, De L...",USD,\n 33.000,NaN,NaN,\n\nDormitorios\n<span>\n ...,NaN,\n</li>\n\nbaños\n<span>\n ...

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19000 entries, 0 to 18999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Direccion         18956 non-null  object
 1   Barrio            19000 non-null  object
 2   Localidad         19000 non-null  object
 3   Moneda            18549 non-null  object
 4   Precio            18410 non-null  float64
 5   Expensas          11133 non-null  float64
 6   Metros Cuadrados  16988 non-null  float64
 7   Dormitorios       18617 non-null  float64
 8   Antigüedad        10921 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.3+ MB

Sigue la limpieza quitando los caracteres y etiquetas innecesarios

In [5]:
df['Direccion'] = df['Direccion'].str.strip()

In [6]:
df['Direccion'] = df['Direccion'].str.title()

In [7]:
df['Ubicacion'] = df['Ubicacion'].replace({'Departamento en Venta en':' '}, regex=True )

In [9]:
df.head(2)

,Unnamed: 0,Direccion,Ubicacion,Moneda,Precio,Expensas,Metros Cuadrados,Dormitorios,Antigüedad,Baños
0,1,Palpa 2500,"Belgrano C, Belgrano",USD,\n 145.000,11000.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,NaN,\n</li>\n\nbaños\n<span>\n ...
1,2,Virrey Olaguer Y Feliu 3100,"Belgrano R, Belgrano",USD,\n 107.000,11000.0,\n\nM2\n<span>\n ...,\n</li>\n\nDormitorios\n<span>\n ...,\n</li>\n\nAntiguedad\n<span>\n ...,\n</li>\n\nbaños\n<span>\n ...

In [10]:
df['Precio'] = df['Precio'].str.strip()

In [11]:
df['Expensas'] = df['Expensas'].replace({'$':' '}, regex=True )

In [12]:
df['Metros Cuadrados'] = df['Metros Cuadrados'].replace({'</li>':' ','Dormitorios':' ','<span>':'','M2':'','m²':'','</ul>':'','dorm.':'','Monoam.':'1' }, regex=True )

In [13]:
df['Metros Cuadrados'] = df['Metros Cuadrados'].str.strip()

In [14]:
df['Dormitorios'] = df['Dormitorios'].replace({'</li>':' ','Dormitorios':' ','<span>':' ','dorm.':' ','Monoam.':'0'}, regex=True )

In [15]:
df['Dormitorios'] = df['Dormitorios'].str.strip()

In [16]:
df['Antigüedad'] = df['Antigüedad'].replace({'</li>':' ','Antiguedad':' ','<span>':' ','años':'','año':'',' A Estrenar':''}, regex=True )

In [17]:
df['Antigüedad'] = df['Antigüedad'].str.strip()

In [18]:
df['Baños'] = df['Baños'].replace({'</li>':' ','baños':' ','<span>':' ','baño':''}, regex=True )

In [19]:
df['Baños'] = df['Baños'].str.strip()

In [20]:
df.head(2)

,Unnamed: 0,Direccion,Ubicacion,Moneda,Precio,Expensas,Metros Cuadrados,Dormitorios,Antigüedad,Baños
0,1,Palpa 2500,"Belgrano C, Belgrano",USD,145.000,11000.0,55,2,NaN,1
1,2,Virrey Olaguer Y Feliu 3100,"Belgrano R, Belgrano",USD,107.000,11000.0,50,1,20,1

Separamos la ubicacion en barrio y localidad

In [24]:
ubi = df['Ubicacion'].str.split(",", expand=True)

In [25]:
ubi

                           0                 1
0                 Belgrano C          Belgrano
1                 Belgrano R          Belgrano
2                   Belgrano   Capital Federal
3         Belgrano Barrancas          Belgrano
4                    Palermo   Capital Federal
...                      ...               ...
18995           Villa Gesell      Buenos Aires
18996           Barrio Norte   Capital Federal
18997         Santos Lugares   Tres De Febrero
18998                 Centro   Capital Federal
18999         Santa Teresita       De La Costa

[19000 rows x 2 columns]

In [26]:
ubi1 = ubi.rename(columns={0:'Barrio', 1:'Localidad'})

In [27]:
ubi1

                      Barrio         Localidad
0                 Belgrano C          Belgrano
1                 Belgrano R          Belgrano
2                   Belgrano   Capital Federal
3         Belgrano Barrancas          Belgrano
4                    Palermo   Capital Federal
...                      ...               ...
18995           Villa Gesell      Buenos Aires
18996           Barrio Norte   Capital Federal
18997         Santos Lugares   Tres De Febrero
18998                 Centro   Capital Federal
18999         Santa Teresita       De La Costa

[19000 rows x 2 columns]

In [28]:
df = pd.concat([df,ubi1], axis=1)

In [30]:
df.head(2)

,Unnamed: 0,Direccion,Ubicacion,Moneda,Precio,Expensas,Metros Cuadrados,Dormitorios,Antigüedad,Baños,Barrio,Localidad
0,1,Palpa 2500,"Belgrano C, Belgrano",USD,145.0,11000.0,55.0,2.0,NaN,1.0,Belgrano C,Belgrano
1,2,Virrey Olaguer Y Feliu 3100,"Belgrano R, Belgrano",USD,107.0,11000.0,50.0,1.0,20.0,1.0,Belgrano R,Belgrano

Reordenamos

In [31]:
cols = list(df.columns)

In [37]:
df = df[cols[1:2]+[cols[-2]]+[cols[-1]]+cols[3:9]]

In [33]:
df.head(2)

,Direccion,Barrio,Localidad,Moneda,Precio,Expensas,Metros Cuadrados,Dormitorios,Antigüedad
0,Palpa 2500,Belgrano C,Belgrano,USD,145.0,11000.0,55.0,2.0,NaN
1,Virrey Olaguer Y Feliu 3100,Belgrano R,Belgrano,USD,107.0,11000.0,50.0,1.0,20.0

Corregir Precio

In [38]:
df['Precio'] = df['Precio'] * 1000

In [39]:
df.head(2)

,Direccion,Barrio,Localidad,Moneda,Precio,Expensas,Metros Cuadrados,Dormitorios,Antigüedad
0,Palpa 2500,Belgrano C,Belgrano,USD,145000.0,11000.0,55.0,2.0,NaN
1,Virrey Olaguer Y Feliu 3100,Belgrano R,Belgrano,USD,107000.0,11000.0,50.0,1.0,20.0

In [43]:
df['Moneda'].value_counts()

 USD    17526
USD       949
 $         73
$           1
Name: Moneda, dtype: int64

In [44]:
df['Moneda'] = df['Moneda'].str.strip()

In [45]:
df['Moneda'].value_counts()

USD    18475
$         74
Name: Moneda, dtype: int64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19000 entries, 0 to 18999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Direccion         18956 non-null  object
 1   Barrio            19000 non-null  object
 2   Localidad         19000 non-null  object
 3   Moneda            18549 non-null  object
 4   Precio            18410 non-null  float64
 5   Expensas          11133 non-null  float64
 6   Metros Cuadrados  16988 non-null  float64
 7   Dormitorios       18617 non-null  float64
 8   Antigüedad        10921 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.3+ MB

Cambiamos de object a float

In [22]:
df['Precio'] = pd.to_numeric(df['Precio'], errors='coerce')

df['Metros Cuadrados'] = pd.to_numeric(df['Metros Cuadrados'], errors='coerce')

df['Dormitorios'] = pd.to_numeric(df['Dormitorios'], errors='coerce')

df['Antigüedad'] = pd.to_numeric(df['Antigüedad'], errors='coerce')

df['Baños'] = pd.to_numeric(df['Baños'], errors='coerce')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19000 entries, 0 to 18999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        19000 non-null  int64
 1   Direccion         18956 non-null  object
 2   Ubicacion         19000 non-null  object
 3   Moneda            18549 non-null  object
 4   Precio            18410 non-null  float64
 5   Expensas          11133 non-null  float64
 6   Metros Cuadrados  16988 non-null  float64
 7   Dormitorios       18617 non-null  float64
 8   Antigüedad        10921 non-null  float64
 9   Baños             17690 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB

In [47]:
df.to_excel('df limpio.xlsx', index=False)